* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --background-color: #333;
    --section-background: #555;
    --icon-background: #f1f2f6;
    --button: #3b3b3b;
    --text-color: #fff;
}

html[data-theme='light'] {
    --background-color: #f0f0f0;
    --section-background: #fff;
    --icon-background: #f1f2f6;
    --button: #e5e5e5;
    --text-color: #000;
}

html[data-theme='dark'] {
    --background-color: #333;
    --section-background: #555;
    --icon-background: #f1f2f6;
    --button: #3b3b3b;
    --text-color: #fff;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

button {
    background-color: var(--button);
    border: none;
    border-radius: 0.3rem;
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    top: 1rem;
    left: 1rem;
}

button:hover {
    opacity: 0.6;
    color: var(--text-color);
}

header .introduction {
    background-color: var(--section-background);
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: left;
    margin: 1rem auto 1rem auto;
    width: 60%;
}

header img {
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header .external-links {
    background-color: var(--section-background);
    text-align: center;
    margin: auto auto 1rem auto;
    width: 50%;
}

header a {
    background-color: var(--button);
    border: none;
    border-radius: 0.3rem;
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
}

header a:hover {
    opacity: 0.6;
    color: var(--text-color);
}

header .timer {
    background-color: var(--section-background);
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: left;
    margin: auto auto 1rem auto;
    width: 60%;
}

header h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 2.4rem;
}

header p {
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
}

.data-container h2 {
    margin: 0.5em auto auto auto;
    width: 80%;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
    padding: 1.6rem;
}

.data-container p {
    margin: 0.5em auto auto auto;
    width: 80%;
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: left;
    width: 65%;
}

.data-container .data {
    background-color: var(--section-background);
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: left;
    margin: auto auto 1rem auto;
    width: 60%;
}

.data-container .data-icon {
    width: 4.6rem;
    height: 4.6rem;
    padding: 1.2rem;
    background-color: var(--icon-background);
    border-radius: 50%;
    margin: 1.3rem auto 1.3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-container .data-icon img {
    width: 2rem;
    height: 2rem;
}



.point-container .wait {
    background-color: var(--section-background);
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: left;
    margin: auto auto 1rem auto;
    width: 60%;
}

.point-container p {
    width: 80%;
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: left;
    padding: 1rem;
}

@media screen and (max-width: 780px) {
    header .introduction {
        background-color: var(--section-background);
        border-radius: 0.3rem;
        padding: 1rem;
        text-align: left;
        margin: 2rem auto 1rem auto;
        width: 90%;
    }

    header img {
        width: 10rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    header .external-links {
        background-color: var(--section-background);
        text-align: center;
        margin: auto auto 1rem auto;
        width: 50%;
    }

    header a {
        background-color: var(--button);
        border: none;
        border-radius: 0.3rem;
        color: var(--text-color);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition: 0.3s;
    }

    header a:hover {
        opacity: 0.6;
        color: var(--text-color);
    }

    header .timer {
        background-color: var(--section-background);
        border-radius: 0.3rem;
        padding: 1rem;
        text-align: left;
        margin: auto auto 1rem auto;
        width: 90%;
    }

    header h1 {
        color: var(--text-color);
        text-align: center;
        font-size: 1.8rem;
    }

    header p {
        color: var(--text-color);
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem;
        font-size: 1.4rem;
    }

    .data-container h2 {
        margin: 0.5em auto auto auto;
        width: 90%;
        color: var(--text-color);
        font-size: 1.8rem;
        font-weight: normal;
        text-align: center;
        padding: 1.6rem;
    }

    .data-container p {
        margin: 0.5em auto auto auto;
        color: var(--text-color);
        font-size: 1.2rem;
        text-align: left;
        width: 90%;
    }

    .data-container .data {
        background-color: var(--section-background);
        border-radius: 0.3rem;
        padding: 1rem;
        text-align: left;
        margin: auto auto 1rem auto;
        width: 90%;
    }

    .data-container .data-icon {
        width: 4.6rem;
        height: 4.6rem;
        padding: 1.2rem;
        background-color: #f1f2f6;
        border-radius: 50%;
        margin: 1.3rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



    .point-container .wait {
        background-color: var(--section-background);
        border-radius: 0.3rem;
        padding: 1rem;
        text-align: left;
        margin: auto auto 1rem auto;
        width: 90%;
    }

    .point-container p {
        width: 90%;
        color: var(--text-color);
        font-size: 1.2rem;
        text-align: left;
        padding: 1rem;
    }
}