* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --background-color: #333;
    --section-background: #555;
    --icon-background: #f1f2f6;
    --border-color: #ff0000;
    --button: #3b3b3b;
    --text-color: #fff;
}

html[data-theme='light'] {
    --background-color: #f0f0f0;
    --section-background: #fff;
    --icon-background: #f1f2f6;
    --border-color: #ff0000;
    --button: #e5e5e5;
    --text-color: #000;
}

html[data-theme='dark'] {
    --background-color: #333;
    --section-background: #555;
    --icon-background: #f1f2f6;
    --border-color: #ff0000;
    --button: #3b3b3b;
    --text-color: #fff;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

header {
    position: relative;
    z-index: 2; 
  }

header .timer {
    position: relative;
    z-index: 2; 
  }
  
  
  .data-container {
    position: relative;
    z-index: 2;
  }
  
  .point-container {
    position: relative;
    z-index: 2; 
  }

header button {
    background-color: var(--button);
    border: none;
    border-radius: 0.3rem;
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 1rem auto auto 1rem;
    transition: 0.3s;
    position: relative;
}

header button:hover {
    opacity: 0.6;
    color: var(--text-color);
}

header .introduction {
    background-color: var(--section-background);
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: left;
    margin: 1rem auto 1rem auto;
    width: 60%;
}

header img {
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header .external-links {
    background-color: var(--section-background);
    text-align: center;
    margin: auto auto 1rem auto;
    width: 50%;
}

header a {
    background-color: var(--button);
    border: none;
    border-radius: 0.3rem;
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
}

header a:hover {
    opacity: 0.6;
    color: var(--text-color);
}

header .unavailable {
  opacity: 0.6;
  cursor: not-allowed;;
}

header .timer {
    background-color: var(--section-background);
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: left;
    margin: auto auto 1rem auto;
    width: 60%;
    border-style: none none none solid;
    border-width: 0.3rem;
    border-color: var(--border-color);
}

header h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 2.4rem;
}

header p {
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
}

.data-container h2 {
    margin: 0.5em auto auto auto;
    width: 80%;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
    padding: 1.6rem;
}

.data-container p {
    margin: 0.5em auto auto auto;
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: left;
    width: 65%;
}

.data-container .data {
    background-color: var(--section-background);
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: left;
    margin: auto auto 1rem auto;
    width: 60%;
}

.data-container .data-icon {
    width: 4.6rem;
    height: 4.6rem;
    padding: 1.2rem;
    background-color: var(--icon-background);
    border-radius: 50rem;
    margin: 1.3rem auto 1.3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-container .data-icon img {
    width: 2rem;
    height: 2rem;
}

.point-container .wait {
    background-color: var(--section-background);
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: left;
    margin: auto auto 1rem auto;
    width: 60%;
    border-style: none none none solid;
    border-width: 0.3rem;
    border-color: var(--border-color);
}

.point-container p {
    width: 80%;
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: left;
    padding: 1rem;
}

.background-icons {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .background-icons li {
    position: absolute;
    list-style: none;
    display: block;
    bottom: 60px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    opacity:0;
  }
  
  .background-icons li:nth-child(1) {
    left: 4%;
    background:transparent;
  }
  .background-icons li:nth-child(2) {
    left: 11%;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 17s;
            animation-duration: 17s;
  }
  .background-icons li:nth-child(3) {
    left: 16%;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .background-icons li:nth-child(4) {
    left: 39%;
    -webkit-animation-duration: 22s;
            animation-duration: 22s;
  }
  .background-icons li:nth-child(5) {
    left: 72%;
    background:transparent;
  }
  .background-icons li:nth-child(6) {
    left: 88%;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    background:transparent;
  }
  .background-icons li:nth-child(7) {
    left: 34%;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
    background:transparent;
  }
  .background-icons li:nth-child(8) {
    left: 56%;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
  }
  .background-icons li:nth-child(9) {
    left: 31%;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    background:transparent;
  }
  .background-icons li:nth-child(10) {
    left: 90%;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 11s;
            animation-delay: 11s;
  }
  .background-icons li:nth-child(11) {
    left: 10%;
    -webkit-animation-delay: 13s;
            animation-delay: 13s;
  }
  .background-icons li:nth-child(12) {
    left: 55%;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
    background:transparent;
  }
  
  .background-icons li:nth-child(13) {
    left: 65%;
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
  }
  
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity:0;
    }
    50% {
      opacity:1;
    }
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
              transform: translateY(-700px) rotate(600deg);
      opacity:1;
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity:0;
    }
    50% {
      opacity:1;
    }
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
              transform: translateY(-700px) rotate(600deg);
      opacity:0;
    }
  }

footer p {
  margin: auto;
  padding: 3rem;
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 780px) {
header button {
  left: 0;
  top: 0;
}

header .introduction {
    width: 90%;
}

header img {
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header .external-links {
    width: 90%;
}

header a {
    display: block;
}

header .timer {
    width: 90%;
}

header h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 1.8rem;
}

.data-container h2 {
    width: 90%;
}

.data-container p {
    width: 90%;
}

.data-container .data {
    width: 90%;
}

.point-container .wait {
    width: 90%;
}

.point-container p {
    width: 90%;
}
}

